@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  font-family: 'Muli', sans-serif;
  text-align: center;
  float: none; }

h2 {
  margin: 0.3em 0; }

.main-title {
  font-family: 'Muli', sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin: .4em 0; }

.generic-heading {
  font-family: 'Muli', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 .8em 0; }

.countdown-timer {
  text-align: center; }

#switch {
  font-size: 1.5em;
  display: block;
  cursor: pointer; }

#online-switch {
  vertical-align: middle;
  position: relative;
  width: 1em;
  height: 1em;
  bottom: 0.1em; }

#timer-controller {
  width: 22vw;
  min-width: 350px;
  margin: .5em auto 0 auto;
  padding: .3em 0 0.6em 0;
  border-radius: 1.2em;
  border: 0.15em black solid; }

#timer, .scoreboard {
  width: 100%;
  font-size: 6.5em;
  text-align: center;
  margin: 0 auto; }

#timer-controls {
  text-align: center; }

button {
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  height: 4.5em;
  width: 5.2em;
  margin: .3em .6em;
  border-radius: 0.6em; }

.good {
  background-color: rgba(0, 255, 127, 0.8); }

.good:hover {
  background-color: rgba(0, 255, 127, 0.6); }

.bad {
  background-color: rgba(255, 24, 7, 0.8); }

.bad:hover {
  background-color: rgba(255, 24, 7, 0.6); }

#scorefather {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 60vw;
  height: 30vh; }

.scoreboard {
  width: 20vw;
  height: 10vh;
  margin: 0 auto; }

.team-scorer {
  border: 0.15em black solid;
  border-radius: 2em;
  text-align: center;
  width: 28vw;
  margin: 0 auto;
  padding: .3em 0 0.6em 0; }

.left {
  margin-left: auto;
  float: left; }

.right {
  margin-right: auto;
  float: right; }

@media (max-width: 1000px) {
  .left {
    float: none;
    position: relative;
    display: block; }
  .right {
    float: none;
    position: relative;
    display: block; }
  .team-scorer, #timer-controller {
    margin: auto;
    margin-top: 20px;
    width: 80vw; }
  #scorefather {
    width: 100vw;
    max-width: 800px;
    height: 600px; }
  .fullscreen {
    display: none; }
  .generic-heading {
    margin: 0; } }
